

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f6f3f3;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background: linear-gradient(135deg, #bd0707, #c89090);
    color: white;
    padding: 1rem 0;
    box-shadow: 0 2px, 5px rgba(0,0,0,0.1);
}
.container-header{
    display: flex;
    width: 67%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

}
.text h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    text-align: center;
}

.logo-conexia {
    width: 100%;
}

.boton {
    background-color: rgb(236, 0, 0);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(203, 60, 60);
}

.boton-container{
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 50px;
    display: inline-block;
}

.contenido{
    display: flex;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.contenido a{
    color: red;
    padding: 20px 60px;
    text-decoration: none;
    display: block;
}

.contenido a:hover {
    background-color: red;
    color: white;
}

.fondo-conten {
    width: 100%;
    height: 150px;
    display: flex;
    display: block;
    text-align: center;
}

.imagen {
    width: 100%;
    height: 132px;
    opacity: 50%;
    object-fit: cover;
}

.email{
    font-size: 12px;
    font-weight: 600;
    color: #cacaca;
}

.show {
    display: block;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 62px;
    background-color: #333;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
.redes {
    display: flex;
    justify-content: right;
    margin: 1rem 0;
}
.redes img{
    max-width: 100%;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: inline-flex;
    object-fit: cover;
    display: flex;
}
.redes a {
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    transition: background-color 0.3s;
}
.redes :hover{
    box-shadow: 0 3px 10px rgba(206, 203, 203, 0.692);
}
.mejora {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.form {
    margin-bottom: 1.5rem;
}
.form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.form-contac {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
.container-info {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
textarea.form-contac{
    min-height: 150px;
    resize: vertical;
}
.container-conta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.container-3{
    width: 4;
    max-width: 1200;
    display: flex;
    color: #00ff22;
    margin-top: 40px;
}
.bot {
    display: inline-block;
    background-color: #00ff22;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}
.bot:hover{
    background-color: #1d6a01;    
}

.barra {
    width: 65%;
    height: 20%;
    border-radius: 15px;
    border-bottom: 2px solid #d06060;
    border-left: 2px solid #d06060;
    border-right: 2px solid #d06060;
    border-top: 2px solid #d06060;
    justify-self: center;
}

.barra h3{
    color: #d06060;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #d06060;
    text-align: center;
}

.barra ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.barra ul li {
    margin-left: 40px;
}
.container2{
    margin-top: 30px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.container2 h2{
    color: #d06060;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #d06060;
    text-align: center;
}

.container2 p{
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    margin-left: 10px;
}

.container h2{
    color: #d06060;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #d06060;
    text-align: center;
}
.redes-2 {
    display: flex;
    margin: 1rem 0;
}
.redes-2 img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
}
.redes-2 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 10px;
    transition: background-color 0.3s;
}
.redes-2 img:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.386);
}
.bateria-nivel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;        
    height: 0%;        
    background-color: #4caf50;
    transition: height 0.5s ease;
}

.Baterrias{
    position: relative;
    display: flex;
    width: 90%;
    height: 500px;
    justify-content: center;
    justify-self: center;
}
.bateria-tapita {
    position: relative;
    top: -12px;
    left: 35%;
    width: 30px;
    height: 12px;
    background-color: #333;
    border-radius: 4px;
}

.texto {
    font-size: 16px;
    margin-top: 10px;
}
.logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    justify-self: center;
}
.logo img {
    max-width: 100%;
    display: inline-flex;
    object-fit: cover;
    display: flex;
}
