<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Baterías</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon_none.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container-header">  
            <div class="boton-container">
                <button onclick="toggleMenu()" class="boton">Más</button>
                <div id="miboton" class="contenido">
                    <a href="Ayuda.html" class="nav-link">Ayuda</a>
                    <a href="index.html" class="nav-link">Inicio</a>
                    <a href="Sugerencias.html" class="nav-link">Sugerencias de Mejora</a>
                </div> 
            </div>
            
            <div class="logo-conexia">
                <div class="logo">
                    <img src="static/conexxia-logo.png" alt="Ejemplo">
                </div>
                <div class="text">
                    <h1>Monitor de Baterrias Conexia</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container2">
            <h2>Información del sitio web</h2>
            <div class="información">
                <p>Esta página ha sido creada por la FUNDACIÓN IDENTIC para la empresa CONEXXIA,
                    es un Monitor de Baterrias en tiempo real, que moestra lecturas de consumo y
                    reacciones interacctivas de la página, reflejando valores como el voltage y
                    el porcetage de las baterrias, la página junto al icon de la misma reaccionan 
                    de pendiendo del nivel de carga, en la barra acomtinuación se citan las diferente 
                    reaciones con su significado:
                </p>
            <div class="barra">
                <h3>Reacciones</h3>
                <ul>
                    <li>1. Página en estado normal e icono verde: Significa que el promedio de carga de las baterrias es más del 60% </li>
                    <li>2. Página con un color narangizo e icono naranja: Significa que el promedio de carga de las baterriases menos del 60%</li>
                    <li>3. Página con un color rogizo e icono nivel rojo: Significa que el promedio de carga de las baterrias es menos del 20%</li>
                    <li>4. Página en blanco e icono de alerta: Significa que no se encuentra conectada ninguna baterria</li>
                </ul>
            </div>
            </div>
        </div>
    </main>
     <footer>
        <div class="container-3">
            <p>&copy; 2025 Conexia. Todos los derechos reservados</p>
            </div>
        <div class="redes">
            <a href="https://www.facebook.com/conexxiagq?__cft__[0]=AZWqzSOQiadoTHAifk1vwE_snN_VF-fAxbwf6V4LAkQmoAimgM08lbt9FEK-MYdi-sk0WJ4hQroGP34X59-b3lmdocLv8cGCuxo7FFE6SM_aNfJb7QwU_QGfIQMmkR4IuqZPNyJZCP4JIifnX5JpaclsZ_q5gkgk9F4SEhUDGyDLFLe-uE67_JdN5975FMnHuaQ&__tn__=-UC%2CP-R" aria-label="Facebook"><img src="static/Facebook-logo-.png" alt="Ejemplo"></a>
            <a href="https://www.instagram.com/conexxia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" aria-label="Instagram"><img src="static/instagram-logo.png" alt="Ejemplo"></a>
            <a href="https://www.youtube.com/@conexxia3661" aria-label="Youtube"><img src="static/youtube-logo.png" alt="Ejemplo"></a> 
            </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>