<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Monitor de Baterías</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_none.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header>
        <div class="container-header">  
            <div class="boton-container">
                <button onclick="toggleMenu()" class="boton">Más</button>
                <div id="miboton" class="contenido">
                    <div class="fondo-conten">
                        <div class="email">
                            <p>comercial.malabo@conexxiaeg.com</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/images(1).jpeg') }}" alt="logo" class="imagen">
                    </div>
                    <a href="{{ url_for('Ayuda')}}">Ayuda</a>
                    <a href="{{ url_for('index')}}" style="color: blue;">Inicio</a>
                    <a href="{{ url_for('Sugerencias')}}">Sugerencias de Mejora</a>
                </div> 
            </div>
            
            <div class="logo-conexia">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/conexxia-logo.png') }}" alt="logo">
                </div>
                <div class="text">
                    <h1>Monitor de Baterrias Conexia</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="bateria-container">
        <div id="contenedor-baterias"></div>
    </div>     
    
    <footer>
        <div class="container-3">
            <p>&copy; 2025 Conexia. Todos los derechos reservados</p>
        </div>    
        <div class="redes">
            <a href="https://www.facebook.com/conexxiagq?__cft__[0]=AZWqzSOQiadoTHAifk1vwE_snN_VF-fAxbwf6V4LAkQmoAimgM08lbt9FEK-MYdi-sk0WJ4hQroGP34X59-b3lmdocLv8cGCuxo7FFE6SM_aNfJb7QwU_QGfIQMmkR4IuqZPNyJZCP4JIifnX5JpaclsZ_q5gkgk9F4SEhUDGyDLFLe-uE67_JdN5975FMnHuaQ&__tn__=-UC%2CP-R" aria-label="Facebook"><img src="{{ url_for('static', filename='images/Facebook-logo.png') }}" alt="facebook"></a>
            <a href="https://www.instagram.com/conexxia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" aria-label="Instagram"><img src="{{ url_for('static', filename='images/instagram-logo.png') }}" alt="instagram"></a>
            <a href="https://www.youtube.com/@conexxia3661" aria-label="Youtube"><img src="{{ url_for('static', filename='images/youtube-logo.png') }}" alt="youtube"></a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
