

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f6f3f3;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background: linear-gradient(135deg, #bd0707, #c89090);
    color: white;
    padding: 1rem 0;
    box-shadow: 0 2px, 5px rgba(0,0,0,0.1);
}
.logo.conexia {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.text h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    text-align: center;
}
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
nav ul li a:hover, nav ul li a.active{
    background-color: rgba(255, 255, 255, 0.2);
}
footer {
    margin-top: 50%;
    background-color: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
}
.redes {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.redes a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}
.redes a:hover{
    background-color: #1d1b2f;
}
.bateria-container {
    position: relative;
    width: 100px;
    height: 200px;
    border: 5px solid #333;
    border-radius: 8px;
    margin: 20px auto;
    background-color: #f0f0f0;
    overflow: hidden;
}
.bateria-nivel {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: #4caf50;      transition: width 0.5s ease;
}
.bateria-tapita {
    position: absolute;
    top: -12px;
    left: 35%;
    width: 30px;
    height: 12px;
    background-color: #333;
    border-radius: 4px;
}
.texto {
    font-size: 16px;
    margin-top: 10px;
    }
