<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Baterías</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon_none.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="container-header">  
            <div class="boton-container">
                <button onclick="toggleMenu()" class="boton">Más</button>
                <div id="miboton" class="contenido">
                    <div class="fondo-conten">
                       <div class="email">
                            <p>comercial.malabo@conexxiaeg.com</p>
                        </div>
                        <img src="static/images (1).jpeg" alt="Fondo" class="imagen">
                    </div>
                    <a href="Ayuda.html" class="nav-link">Ayuda</a>
                    <a href="index.html" class="nav-link">Inicio</a>
                    <a href="Sugerencias.html" class="nav-link">Sugerencias de Mejora</a>
                </div> 
            </div>
            
            <div class="logo-conexia">
                <div class="logo">
                    <img src="static/conexxia-logo.png" alt="Ejemplo">
                </div>
                <div class="text">
                    <h1>Monitor de Baterrias Conexia</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Información de desarrollo y Sugerencias de mejora</h2>
            <div class="container-conta">
                <div class="container-info">
                <h3>Desarrollador</h3>
                <div class="info">
                    <p>Este sitio web ha sido Desarrollado por la Fundación IDENTIC, visite sus redes para obtener más información de ellos</p>
                    <div class="contacto">
                        <div class="contacto-icon"></div>
                        <div>
                            <h4>Teléfono</h4>
                            <p>+240 222 458 194</p>
                        </div>
                    </div>
                <h3>Imail:</h3>
                <p>info@identicge.org</p>
                <h3>Síguenos</h3>
                <div class="redes-2">
                    <a href="https://www.facebook.com/identicge?__cft__[0]=AZXmvpmpwyG4fJc7JTnxreaTQfzu2x1r8mOEWLV4gKicDgZEn5KON7pAYOwR3zgheeD6wTVM6td5tMcsudxrfhL3f9wJabUVtv2_joDG7LJwyC2pujO8vzoK1PDOf8u9t2asZ6QpFMm6QSdweXXqWepJk_nfOuvZnTcYMGtENvT07VbZB7MxxmzQXMeuHq8FV2A&__tn__=-UC%2CP-R" aria-label="Facebook"><img src="static/Facebook-logo-.png" alt="Ejemplo"></a>
                    <a href="https://www.instagram.com/identic_fundacion?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" aria-label="Instagram"><img src="static/instagram-logo.png" alt="Ejemplo"></a>
                    <a href="#" aria-label="Whatsapp"><img src="static/whatsapp-logo.png" alt="Ejemplo"></a>
                    <a href="https://www.youtube.com/@identicfundacion" aria-label="Youtube"><img src="static/youtube-logo.png" alt="Ejemplo"></a>
                </div>
                        
                    </div>
                </div>
                <div class="mejora">
                    <h3>Envianos una sujerencia de mejora</h3>
                    <form id="contacForm">
                        <div class="form">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" class="form-contac" required>
                        </div>
                        <div class="form">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-contac" required>
                        </div>
                        <div class="form">
                            <label for="subject">Asunto</label>
                            <input type="text" id="subject" class="form-contac" required>
                        </div>
                        <div class="form">
                            <label for="massage">Mensaje</label>
                            <textarea  id="massage" class="form-contac" required></textarea>
                        </div>
                        <button type="submit" class="bot">Enviar</button>
            </div>
            
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="static/script.js"></script>
</body>
</html>